.FaMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  direction: rtl;
  z-index: 2;
  border-radius: 10px;
  width: 40px;
}
.EnMenu {
  position: absolute;
  top: 20px;
  left: 20px;
  direction: ltr;
  z-index: 2;
  border-radius: 10px;
  width: 40px;
}

.FaLang {
  position: absolute;
  top: 20px;
  left: 20px;
  direction: rtl;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.EnLang {
  position: absolute;
  top: 20px;
  right: 20px;
  direction: ltr;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.FaLang:hover {
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-primery-text);
  background-color: var(--color-primery-box-background);
}
.EnLang:hover {
  cursor: pointer;
  border-radius: 10px;
  color: var(--color-primery-text);
  background-color: var(--color-primery-link-darker);
}

.menuToggleLink {
  justify-content: right !important;
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
}
.langToggleLink {
  margin: 0px !important;
  padding: 0px !important;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;
}

.FaMainMenu {
  background-color: var(--color-primery-box-background);
  padding: 5px 0px;
  list-style: none;
  transition: 0.3s;
  margin-top: -40px;
  padding-top: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.EnMainMenu {
  background-color: var(--color-primery-link-darker);
  padding: 5px 0px;
  list-style: none;
  transition: 0.3s;
  margin-top: -40px;
  padding-top: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.FaLangMenu {
  background-color: var(--color-primery-box-background);
  padding: 0px;
  list-style: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.EnLangMenu {
  background-color: var(--color-primery-link-darker);
  padding: 0px;
  list-style: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.bi-globe {
  /* text-align: right; */
  /* border-radius: 50%; */
  /* padding: 10px; */
}
.bi-globe:hover {
  /* cursor: pointer;
  color: var(--color-primery-link-darker);
  background-color: var(--color-primery-box-background-darker); */
}
.bi-list {
  text-align: right;
  border-radius: 10px;
  /* background-color: var(--color-primery-box-background); */
}
.bi-list:hover {
  cursor: pointer;
  color: var(--color-primery-link-darker);
  background-color: var(--color-primery-box-background-darker);
}

.FaMainMenu a,
.EnMainMenu a {
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 5px 0px;
  color: var(--color-primery-link) !important;
  text-decoration: none;
}
.FaLangMenu a,
.EnLangMenu a {
  justify-content: center;
  display: flex;
  color: var(--color-primery-box-background-darker);
  text-decoration: none;
  align-items: center;
  height: 100%;
}

.EnMainMenu a:hover {
  color: var(--color-primery-titr);
  transform: translateX(15%);
  border-top: 1px solid var(--color-primery-box-background-darker) !important;
}

.FaMainMenu a:hover {
  color: var(--color-primery-titr);
  border-top: 1px solid var(--color-primery-box-background-darker) !important;
  transform: translateX(-15%);
}

.FaLangMenu a:hover,
.EnLangMenu a:hover {
  cursor: pointer;
  color: var(--color-primery-link-darker);
  border-radius: 10px;
  background-color: var(--color-primery-box-background-darker);
}

.FaMainMenu li,
.EnMainMenu li {
  height: 40px;
}
.FaLangMenu li,
.EnLangMenu li {
  height: 40px;
  width: 40px;
}

.FaMainMenu li:hover {
  background-color: var(--color-primery-box-background);
}
.EnMainMenu li:hover {
  background-color: var(--color-primery-link-darker);
}
.langMenu li:hover {
  /* background-color: var(--color-primery-titr); */
}

.FaMenuLabel {
  padding: 0px 10px 0px 15px;
  background-color: var(--color-primery-box-background);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: var(--color-primery-box-background-darker);
  margin: -40px 0px;
  width: max-content;
  position: absolute;
  right: 40px;
  display: none;
  height: 40px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 35px;
  border: 1px solid var(--color-primery-box-background-darker);
  border-right: 0px;
}
.EnMenuLabel {
  padding: 0px 10px 0px 15px;
  background-color: var(--color-primery-link-darker);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: var(--color-primery-box-background-darker);
  margin: -40px 0px;
  width: max-content;
  position: absolute;
  left: 40px;
  display: none;
  height: 40px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 35px;
  border: 1px solid var(--color-primery-box-background-darker);
  border-left: 0px;
}

.FaMainMenu li:hover + h4,
.EnMainMenu li:hover + h4 {
  display: block !important;
}
