%menu {
  position: absolute;
  top: 20px;
  z-index: 2;
  border-radius: 10px;
  width: 40px;
}
%lang {
  position: absolute;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
%mainMenu {
  padding: 5px 0px;
  list-style: none;
  transition: 0.3s;
  margin-top: -40px;
  padding-top: 40px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
%langMenu {
  padding: 0px;
  list-style: none;
  transition: all 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
%menuLabel {
  padding: 0px 10px 0px 15px;
  margin: -40px 0px;
  width: max-content;
  position: absolute;
  display: none;
  height: 40px;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  line-height: 35px;
  border: 1px solid $dark-color;
  color: $dark-color;
}
.EnLang {
  @extend %lang;
  right: 20px;
  direction: ltr;

  &:hover {
    cursor: pointer;
    border-radius: 10px;
    color: $light-color;
    background-color: $secondary-color;
  }
}
.FaLang {
  @extend %lang;
  left: 20px;
  direction: rtl;

  &:hover {
    cursor: pointer;
    border-radius: 10px;
    color: $dark-color;
    background-color: $primary-color;
  }
}
.FaMenu {
  @extend %menu;
  right: 20px;
  direction: rtl;
}
.EnMenu {
  @extend %menu;
  left: 20px;
  direction: ltr;
}
.menuToggleLink {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  justify-content: right !important;
}
.langToggleLink {
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
  height: 40px;
  width: 40px;
  align-items: center;
  justify-content: center;

  &:hover {
    color: $dark-color !important;
  }
}
.EnMainMenu {
  @extend %mainMenu;
  background-color: $secondary-color;

  a {
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 5px 0px;
    color: $light-color !important;
    text-decoration: none;

    &:hover {
      color: $light-color;
      transform: translateX(15%);
      border-top: 1px solid $dark-color !important;
    }
  }

  li {
    height: 40px;

    &:hover {
      background-color: $secondary-color;
    }

    &:hover + h4 {
      display: block !important;
    }
  }
}
.FaMainMenu {
  @extend %mainMenu;
  background-color: $primary-color;

  a {
    justify-content: center;
    display: flex;
    margin: 10px auto;
    padding: 5px 0px;
    color: $light-color !important;
    text-decoration: none;

    &:hover {
      color: $light-color;
      transform: translateX(-15%);
      border-top: 1px solid $dark-color !important;
    }
  }

  li {
    height: 40px;

    &:hover {
      background-color: $primary-color;
    }

    &:hover + h4 {
      display: block !important;
    }
  }
}
.FaLangMenu {
  @extend %langMenu;
  background-color: $primary-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  a {
    justify-content: center;
    display: flex;
    color: $dark-color !important;
    text-decoration: none;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: $secondary-color !important;
      border-radius: 10px;
      background-color: $dark-color;
    }
  }

  li {
    height: 40px;
    width: 40px;
  }
}
.EnLangMenu {
  @extend %langMenu;
  background-color: $secondary-color;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  a {
    justify-content: center;
    display: flex;
    color: $dark-color !important;
    text-decoration: none;
    align-items: center;
    height: 100%;

    &:hover {
      cursor: pointer;
      color: $secondary-color !important;
      border-radius: 10px;
      background-color: $dark-color;
    }
  }

  li {
    height: 40px;
    width: 40px;
  }
}
.bi-list {
  text-align: right;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    color: $secondary-color;
    background-color: $dark-color;
  }
}
.FaMenuLabel {
  @extend %menuLabel;
  border-right: 0px;
  right: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $primary-color;
}
.EnMenuLabel {
  @extend %menuLabel;
  border-left: 0px;
  left: 40px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: $secondary-color;
}
